* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

.shop-page {
  max-width: 1200px;
  min-height: 50vh;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.shop-header {
  background-image: url(../Resources/img/8.jpg);
  height: 25vh;
  width: 100%;
  display: block;
  object-fit: cover;
}

.shop-header .overlay {
  height: 25vh;
  width: 100%;
  background-color: #00000038;
  text-align: center;
  align-content: center;
}

.shop-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
}

.shop-header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.category-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.category-item:hover {
  transform: scale(1.05);
}

.category-item a {
  text-decoration: none;
  color: #333;
}

.category-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.category-item h2 {
  font-size: 1.5rem;
  padding: 15px;
  background-color: #282828;
  color: white;
  margin-top: 10px;
  font-weight: 600;
}

.category-item h2:hover {
  background-color: #444;
}
