* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* ---------------------------------------------------------------- */

.title-section {
  background-image: url(../Resources/img/17.jpg);
  width: 100%;
  height: 25vh;
  background-size: cover;
  background-position: center;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 25vh;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-content: center;
}

.title h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

/* --------------------------Products---------------------------- */

.product-section {
  background-color: white;
  justify-content: center;
  text-align: center;
  padding: 50px 30px;
}

.product-header {
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2vw;
  text-align: center;
}

.product-header h2 {
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 1.7rem;
  text-align: center;
}

.product-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: rem;
  margin: 20px auto;
  padding: 20px 40px;
}

.product-card {
  max-width: 20rem;
  max-height: 35rem;
  background: #fff;
  padding: 1rem;
  box-shadow: 5px 5px 10px #a6a6a6;
  border-radius: 10px;
  border: #28282828 1px solid;
  position: relative;
}

.product-card .frame {
  max-width: 20rem;
  max-height: 30rem;
  overflow: hidden;
}

.product-card img {
  max-width: 100%;
  max-height: 100%;
  min-height: 30rem;
  object-position: center;
  object-fit: cover;
  display: block;
}

.product-card h3 {
  font-size: 1.3rem;
  margin: 0.5em 0;
  text-align: center;
}

.product-card div {
  font-size: 1rem;
}
.product-card span {
  position: relative;
}

.product-card button {
  background-color: #fff;
  color: #282828;
  border: #282828 1px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 1em;
  position: absolute;
  top: 25px;
  right: 25px;
}
