* {
  margin: 0;
  padding: 0;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* ---------------------------------------------------------------------- */

.nav-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.logo img {
  height: 40px;
}

.main-nav {
  list-style: none;
  position: relative;
  left: -50px;
}

.main-nav li a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding: 15px;
}

.icon-nav {
  list-style: none;
}

.icon-nav li a {
  padding: 5px;
}

/* -------------------------------HOVER--------------------------------- */

.main-nav li a:hover {
  opacity: 70%;
}

.icon-nav li a:hover {
  opacity: 70%;
}

/* --------------------------------------------------------------------- */

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url(Resources/img/4.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero {
  width: 100%;
  height: 100vh;
  position: absolute;
  color: white;
  align-content: center;
  font-family: "Caveat", cursive;
  font-weight: 100;
  font-size: 1.5rem;
}

.bgcolor-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-text {
  text-align: center;
  font-size: 80px;
}

.button {
  text-align: center;
  margin-top: 50px;
  font-size: medium;
}

.btn {
  text-align: center;
  margin: 50px;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: white solid;
  padding: 10px 30px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ---------------------------FEATURED--------------------------------- */

.featured-header {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}

.featured-grid-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.featured-container {
  display: flex;
  grid-template-columns: repeat(4, 430px);
  width: 100%;
  position: relative;
  top: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 25px;
  margin: 10px;
  text-align: center;
}

div.featured {
  margin: 5px;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
}

div.featured img {
  width: 150px;
}

.prod-desc {
  font-weight: 500;
  font-size: 30px;
}

.prod-price {
  font-weight: 500;
  font-size: 20px;
}

/* -------------------------ABOUT BRAND------------------------------ */

.about-brand {
  width: 100%;
  height: 100vh;
  background-image: url("Resources/img/2.jpg");
  background-size: cover;
  background-position: center;
}
